@import 'normalize.css';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

nav {
  display: flex;
  justify-content: center; /* Centra gli elementi del nav */
}

nav ul {
  padding: 20px 0; /* Aggiungi del padding sopra e sotto per separare il rettangolo dalle scritte */
  margin: 0;
  list-style: none;
  display: flex;
  justify-content: center; /* Centra il contenuto orizzontalmente */
  align-items: center; /* Centra il contenuto verticalmente */
  position: fixed; /* Utilizza position: fixed per fissare il rettangolo in cima alla pagina */
  top: 0; /* Sposta il rettangolo in cima alla pagina */
  left: 0; /* Assicura che il rettangolo sia allineato a sinistra */
  width: 100%; /* Assicura che il rettangolo occupi tutta la larghezza della pagina */
  height: 74px;
  background-color: #004483;
  z-index: 1;
}

nav ul li {
  opacity: 0.4;
  transition: all 0.8s ease;
}

nav ul li:hover {
  opacity: 0.7;
}

nav ul li:active {
  opacity: 1;
}

nav ul li a {
  text-decoration: none;
  color: white;
  text-transform: uppercase;
  display: block;
  font-weight: 600;
  letter-spacing: 2px;
  font-size: 24px;
  padding: 0 20px; /* Aggiunge spazio intorno ai link */
}

.logoHome {
  z-index: 2;
}

.logoHomeImage {
  position: fixed;
  top: 3px;
  left: 20px;
  height: 60px;
  margin: 3px;
}
  

ul {
display: flex;
list-style-type: none;
padding: 0;
}

.navbarLink {
  left: 255px;
  position: relative;
}

#iconsDiv {
  margin-left: auto;  /* Sposta le icone a destra */
  display: flex;  /* Metti le icone in orizzontale */
  right: 25px;
  position: relative;
  font-size: 25px; /* Altezza icone */
}

#menu {
  position: relative;
  cursor: pointer;
}

#logout, #logout-dropdown {
  cursor: pointer;
}


.dropdown-content {
  display: none;
  right: -25px;
  top: 51px;
  position: absolute;
  background-color: #004a8f;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  text-align: right;
  color: white;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  opacity: 0.4;
}

a:hover {
  opacity: 0.7;
}