@import 'normalize.css';

.page-ChiSiamo .riquadro {
  position: absolute;
  height: 70%;
  border-radius: 27px;
  background: rgba(171, 220, 255, 0.80);
  text-align: center;
  word-wrap: break-word;
  overflow-y: auto;
}
.root-Mobile .page-ChiSiamo .riquadro {
  display: flex;
  flex-wrap: wrap;
  position: relative;
  padding: 20px;
  padding-bottom: 5%;
  width: 80%;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
  justify-content: center;
}

.root-Desktop .page-ChiSiamo #r1 {
  top: 20%;
  left: 5%;
  width: 25%;
}
.root-Desktop .page-ChiSiamo #r2 {
  top: 30%;
  left: 35%;
  right: 35%;
  height: 50%;
}
.root-Desktop .page-ChiSiamo #r3 {
  top: 20%;
  right: 5%;
  width: 25%;
}

.page-ChiSiamo .riquadro h1 {
  font-size: calc(1.3em + 0.9vmax);
  margin-top: 5%;
  margin-right: 5%;
  margin-left: 5%;
  text-align: center;
  font-family: Epilogue;
}
.root-Mobile .page-ChiSiamo .riquadro h1 {
  margin-bottom: 0%;
}

.page-ChiSiamo .riquadro p {
  margin-top: 10%;
  margin-right: 5%;
  margin-left: 5%;
  margin-bottom: 5%;
  text-align: center;
  color: #494949;
  font-size: calc(0.53em + 0.9vmax);
  line-height: 1.2em;
  font-family: Epilogue;
  font-weight: bold;
}

/* Scrollbar */
  .page-ChiSiamo ::-webkit-scrollbar {
    width: 10px;
  }
  .page-ChiSiamo ::-webkit-scrollbar-track, ::-webkit-scrollbar-thumb {
    border-radius: 10px;
  }
