@import 'normalize.css';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: url(./assets/bg2.png);
  background-size: cover;
  background-position: right top;
  background-repeat: repeat-x;
  overflow-y: hidden;
}

.riquadro {
  position: absolute;
  height: 70%;
  border-radius: 27px;
  background: rgba(171, 220, 255, 0.80);
  text-align: center;
  word-wrap: break-word;
  overflow-y: auto;
}

#r1 {
  top: 20%;
  left: 5%;
  width: 25%;
}

#r2 {
  top: 30%;
  left: 35%;
  right: 35%;
  height: 50%;
}

#r3 {
  top: 20%;
  right: 5%;
  width: 25%;
}

.riquadro h1 {
  font-size: 2.2vmax;
  margin-top: 5%;
  margin-right: 5%;
  margin-left: 5%;
  text-align: center;
  font-family: Epilogue;
}

.riquadro p {
  margin-top: 10%;
  margin-right: 5%;
  margin-left: 5%;
  margin-bottom: 5%;
  text-align: center;
  color: #494949;
  font-size: calc(0.53em + 0.9vmax);
  line-height: 1.2em;
  font-family: Epilogue;
  font-weight: bold;
}

/* Scrollbar */
  ::-webkit-scrollbar {
    width: 10px;
  }
  ::-webkit-scrollbar-track, ::-webkit-scrollbar-thumb {
    border-radius: 10px;
  }
