@import 'normalize.css';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: url(./assets/bg2.png);
  background-size: cover;
  background-position: right top;
  background-repeat: repeat-x;
  overflow-y: hidden;
}

.riquadro {
  position: absolute;
  top: 27%;
  height: 50%;
  border-radius: 27px;
  background: rgba(171, 220, 255, 0.80);
  text-align: center;
  word-wrap: break-word;
  overflow-y: auto;
}

#r1 {
  width: 25%;
  left: 5%;
}

#r2 {
  left: 35%;
  right: 35%;
}

#r3 {
  width: 25%;
  right: 5%;
}

.riquadro i {
  margin-top: 13%;
  font-size: 2.1em;
}

#r2 i {
  margin-top: 5%;
}

.riquadro p {
  margin-top: 5%;
  font-size: 1.5em;
  font-weight: bold;
}

.mappa {
  border: 0;
  border-radius: 27px;
  width: 90%;
  height: 60%;
  transform: translateY(12%);
}

/* Scrollbar */
  ::-webkit-scrollbar {
    width: 10px;
  }
  ::-webkit-scrollbar-track, ::-webkit-scrollbar-thumb {
    border-radius: 10px;
  }
