@import 'normalize.css';

.page-Contattaci .riquadro {
  position: absolute;
  top: 27%;
  height: 50%;
  border-radius: 27px;
  background: rgba(171, 220, 255, 0.80);
  text-align: center;
  word-wrap: break-word;
  overflow-y: auto;
}
.root-Mobile .page-Contattaci .riquadro {
  display: flex;
  flex-wrap: wrap;
  position: relative;
  padding: 20px;
  padding-bottom: 35px;
  width: 80%;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
  justify-content: center;
}

.root-Desktop .page-Contattaci #r1 {
  width: 25%;
  left: 5%;
}
.root-Desktop .page-Contattaci #r2 {
  left: 35%;
  right: 35%;
}
.root-Desktop .page-Contattaci #r3 {
  width: 25%;
  right: 5%;
}

.page-Contattaci .riquadro i {
  margin-top: 13%;
  font-size: 2.1em;
}
.root-Mobile .page-Contattaci .riquadro i {
  flex-basis: 100%; /* Always wrap */
  margin-top: 3%;
}

.page-Contattaci #r2 i {
  margin-top: 5%;
}

.page-Contattaci .riquadro p {
  margin-top: 5%;
  font-size: calc(0.9em + 0.9vmax);
  font-weight: bold;
}

.page-Contattaci .mappa {
  border: 0;
  border-radius: 27px;
  width: 90%;
  height: 60%;
  transform: translateY(12%);
}
.root-Mobile .page-Contattaci .mappa {
  width: 100%;
}

/* Scrollbar */
  .page-Contattaci ::-webkit-scrollbar {
    width: 10px;
  }
  .page-Contattaci ::-webkit-scrollbar-track, ::-webkit-scrollbar-thumb {
    border-radius: 10px;
  }
