@import 'normalize.css';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

.body-Default {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: url(./assets/bg2.png);
    background-size: cover;
    background-position: center;
}

.root-Mobile {
    margin-top: 80px;
    margin-bottom: 10%;
} 