* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: url(./assets/bg2.png);
  background-size: cover;
  background-position: right top;
  background-repeat: repeat-x;
  overflow-y: hidden;
}

.cropped-bg {
  position: absolute;
  right: 315px;
  top: 74px;
  z-index: -2;
  height: 1006px;
}

.separatore {
  width: 59px;
  height: 1100px;
  transform: rotate(-18deg);
  position: absolute;
  right: 944px;
  top: 35px;
  background: #ffffff;
  z-index: -1;
}

.titolo {
  position: absolute;
  right: 485px;
  top: 15%;
  color: #FFF;
  text-align: center;
  font-family: Epilogue;
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.titolo h1 {
  position: absolute;
  left: 15px;
  top: 25px;
  font-size: 128px; 
}

.evidenziatore {
  width: 1000px;
  height: 199px;
  position: absolute;
  right: 0px;
  top: 49%;
  background: rgba(38, 86, 255, 0.60);
  z-index: -3;
}

.descrizione {
  display: flex;
  width: 740px;
  height: 78px;
  flex-direction: column;
  justify-content: center;
  position: absolute;
  right: 174px;
  top: 57px;
  color: #FFF;
  text-align: center;
  font-family: Epilogue;
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}