@import 'normalize.css';

.page-InformazioniPersonali {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: url(./assets/bg2.png);
  background-size: cover;
  background-position: center;
  overflow-y: hidden;
}

.page-InformazioniPersonali .containerInformazioni {
  position: absolute;
  top: 32%;
  left: 5%;
  width: 33%;
  padding-right: 2%;
  border-radius: 12px;
  background: rgba(0, 11, 70, 0.80);
  overflow-x: auto;
}

.page-InformazioniPersonali .header {
  display: flex;
  align-items: center;
}

.page-InformazioniPersonali .header i {
  color: white;
  height: 50px; /* This pushes the top of the container upwards */
  font-weight: 600;
  opacity: 0.85;
  left: 20px;
  top: 25px;
  position: relative;
}

.page-InformazioniPersonali .header h1 {
  color: white;
  font-size: 1.5em;
  font-weight: 600;
  opacity: 0.85;
  left: 80px;
  top: 20px;
  margin-left: 30px;
  margin-top: 20px;
  margin-bottom: 0px;
}

.page-InformazioniPersonali .containerInformazioni p {
  color: white;
  font-size: 1.35em;
  font-weight: 600;
  opacity: 0.85;
  margin-left: 20px;
  margin-top: 20px;
  position: relative;
}

.page-InformazioniPersonali .containerContratti {
  width: 45%;
  height: 75%;
  position: absolute;
  left: 50%;
  top: 18%;
  border-radius: 12px;
  background: rgba(0, 11, 70, 0.80);
  overflow-y: auto;
}

.page-InformazioniPersonali .containerContratti table {
  border-collapse: collapse;
  color: white;
  opacity: 0.85;
  font-size: 1.2em;
  font-weight: 600;
  margin: 25px 15px;
}

.page-InformazioniPersonali .containerContratti table tr th,
.page-InformazioniPersonali .containerContratti table tr td {
  border: 1px solid #ddd;
  padding: 4px 6px;
}

/* Scrollbar */
  .page-InformazioniPersonali ::-webkit-scrollbar {
    width: 10px;
  }
  .page-InformazioniPersonali ::-webkit-scrollbar-track {
    background: rgb(0, 11, 70);
    border-radius: 10px;
  }
  .page-InformazioniPersonali ::-webkit-scrollbar-thumb {
    background: #6a7db3; 
    border-radius: 10px;
  }
  .page-InformazioniPersonali ::-webkit-scrollbar-thumb:hover {
    background: #435074; 
  }