@import 'normalize.css';

.page-Offerte {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: url(./assets/bg2.png);
  background-size: cover;
  background-position: right top;
  background-repeat: repeat-x;
  overflow-y: hidden;
}

.page-Offerte .riquadro {
  position: absolute;
  top: 18%;
  height: 69%;
  width: 22%;
  border-radius: 27px;
  background: rgba(171, 220, 255, 0.80);
  word-wrap: break-word;
  overflow-y: auto;
}

.page-Offerte #r1 {
  left: 3%;
}

.page-Offerte #r2 {
  left: 28%;
  width: 21%;
}

.page-Offerte #r3 {
  right: 28%;
  width: 21%;
}

.page-Offerte #r4 {
  right: 3%;
}

.page-Offerte .riquadro h1 {
  margin-top: 5%;
  margin-bottom: 10%;
  text-align: center;
  font-family: Epilogue;
  font-size: 2.2vmax;
}

.page-Offerte .riquadro ul {
  display: block;
  list-style-type: disc;
}

.page-Offerte .riquadro ul li {
  margin-top: 2%;
  color: #333333da;
  font-size: calc(0.35em + 0.9vmax);
  font-weight: bold;
  font-family: Epilogue;
  margin-right: 5%;
  margin-left: 10%;
  margin-bottom: 5%;
}

.page-Offerte .sceltaOfferta {
  position: absolute;
  left: 5%;
  bottom: 5%;
  width: 90%;
  height: 10%;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  font-family: Epilogue; 
  font-size: calc(0.5em + 0.9vmax);
  border-radius: 40px;
  background: rgba(15, 0, 108, 0.58);
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.10);
}

/* Scrollbar */
  .page-Offerte ::-webkit-scrollbar {
    width: 10px;
  }
  .page-Offerte ::-webkit-scrollbar-track, ::-webkit-scrollbar-thumb {
    border-radius: 10px;
  }
