@import 'normalize.css';

.page-Register .wrapper {
  right: 15%;
  top: 20%;
  position: absolute;
}

.page-Register .login-link{
  font-size: 14.5px;
  text-align: center;
  margin: 20px 0 15px;
}

.page-Register .login-link p a {
  color: #fff;
  text-decoration: none;
  font-weight: 600;
}

.page-Register .login-link p a:hover {
  text-decoration: underline;
}
