target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

mvnw

### NetBeans ###
Tynamo/tynamo-java/nbproject/private/
Tynamo/tynamo-java/nbbuild/
Tynamo/tynamo-java/dist/
Tynamo/tynamo-java/nbdist/
Tynamo/tynamo-java/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/
